#set ( $user = $data.getUser() )
#set ( $companyName = $user.getCompanyName() )

<div class="w3-container w3-bordered">

	
	<h1>$companyName Receipt</h1>
	<p>
		Thank you! Your order has been paid and your receipt is below.
		Our friendly cluckers will be notified immediately and
		prepare shipping your item soon.
	</p>

    <h2>Receipt Details</h2>
    
    <h3>Items Purchased</h3>
	<table class="w3-table-all w3-striped">
		<tr>
			<th>Item</th>
			<th>Picture</th>
			<th>Quantity</th>
		</tr>
		#foreach ( $detail in $order.getDetails() ) 
		#set ( $item = $detail.getItem() )
		<tr>
			<td>$!item.Title <br /> $!item.Description <br />
				$!item.getFormattedPrice()
			</td>
			<td>
				<div class="w3-display-container" style="width: 250px;">
					<img src="$content.getURI("images/uploads/$item.FileName")" width="100%">
				</div>
			</td>
			<td>$!detail.Quantity</td>
		</tr>
		#end

	</table>
    
    <h2>Payment Information</h2>
    
	<table class="w3-table-all w3-striped">
	
		<tr>
			<td><h3>Order Number</h3></td>
			<td> $!order.RefId </td>
		</tr>
	
		<tr>
			<td><b>Purchase Date</b></td>
			<td> $date.displayDate($!order.OrderDate) </td>
		</tr>

	
		<tr>
			<td>Subtotal:</td>
			<td>$!formatter.getMoneyFormat( $!order.Subtotal )</td>
		</tr>
		
		<tr>
			<td>Shipping:</td>
			<td>$!formatter.getMoneyFormat( $!order.Shipping )</td>
		</tr>
		<tr>
			<td>Tax:</td>
			<td>$!formatter.getMoneyFormat( $!order.Tax )</td>
		</tr>
		<tr>
			<td>Total:</td>
			<td>$!formatter.getMoneyFormat( $!order.Total )</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2"><b>Payer Information:</b></td>
		</tr>
		<tr>
			<td>Name:</td>
			<td>$!order.CustomerFirstName $!order.CustomerLastName</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>$!order.CustomerEmail</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2"><b>Shipping Address:</b></td>
		</tr>
		<tr>
			<td>Ship To:</td>
			<td>$!order.RecipientName <br /> $!order.AddressLine1 <br />
				$!order.AddressLine2 <br /> $!order.City, $!order.State <br />
				$!order.Zip <br /> $!order.Country
			</td>
		</tr>
	</table>



</div>