<!DOCTYPE html>
<html lang="en">
<head>
	<title>MyWebstore.abc&trade;</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="$content.getURI("images/chicken.ico")" />
	<link rel="stylesheet" href="$content.getURI("style/w3-v4.13.css")" type="text/css"/>
	<link rel="stylesheet" href="$content.getURI("style/font-awesome-5.13.0/css/all.min.css")" type="text/css" />
	<link rel="stylesheet" href="$content.getURI("style/webstore.css")" type="text/css" />
	
	<script type="text/javascript" src="$content.getURI("scripts/utils.js")" charset="utf-8"></script>
	
</head>
<body class="w3-white">

	<!-- menu -->
	$navigation.setTemplate("/Menu.vm")
	
	<p> &nbsp; </p>

	<!--  content -->
	<div class="w3-main w3-padding" id="content">
		## Global message handler in the default layout
		#if ( $data.getMessage() )
			#if ( $error )
				#error( $data.getMessage() )
			#else
				#info( $data.getMessage() )
			#end
		#end

		$screen_placeholder

	</div>
</body>
</html>