
<h2>Here's all the great stuff you picked!</h2>
<hr/>

<h3>Your Shopping Cart Items</h3>

<table class="w3-table-all w3-striped">
	<tr>
		<th>Item</th>
		<th>Picture</th>
		<th>Quantity</th>
		<th>Delete</th>
	</tr>
	#foreach ( $item in  $cart.getItems()  )
	<tr>
		<td> $!item.Title <br/> $!item.Description <br/> $!item.getFormattedPrice() </td>
		<td> 
			<div class="w3-display-container" style="width: 250px;">
				<img src="$content.getURI("images/uploads/$item.FileName")" width="100%">
				<span class="w3-tag w3-display-bottomright">
					<button onclick="document.getElementById('zoom_$item.RefId').style.display='block'" class="w3-button"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</td>
		<td> $!cart.getQuantity($!item)  </td>
		<td> 
			<form 
				method="post"
				action="$link.setAction("CartSQL").setPage("Cart.vm")">
					<input type="hidden" name="refId" value="$!item.RefId">
					<input type="submit" name="eventSubmit_doDelete" value="Delete"/>
			</form>
		</td>
	</tr>
	#end
	
	<tr>
		<td colspan="3" style="text-align: right;"> <b>Total</b> </td>
		<td align="left"> $cart.getFormattedSubtotal() </td>
	</tr>
	
	<tr>
		<td colspan="4">
			<b>Ready to checkout?</b>  
			<p>
				You will be directed to the Paypal
				website after hitting the checkout button.
			</p>
			 
			<form
				id="checkoutForm" 
				method="post"
				action="$link.setAction("CartSQL")">
					<div class="w3-center">
						<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-medium.png" name="eventSubmit_doOrder" value="Checkout" alt="Check out with PayPal"/>
					</div>
			</form>
		</td>
	</tr>
</table>


<!-- checkout page -->





	#foreach ( $item in  $cart.getItems()  )
		<div id="zoom_$item.RefId" class="w3-modal">
		  <div class="w3-modal-content">
		    <div class="w3-container w3-black w3-padding">
				<span onclick="document.getElementById('zoom_$item.RefId').style.display='none'" class="w3-button w3-display-topright">&times;</span>
				<div class="w3-cell-row w3-padding">
				  <div class="w3-container w3-cell">
				    <img src="$content.getURI("images/uploads/$item.FileName")"  class="w3-border w3-padding" style="width: 600px;">
				  </div>
				  <div class="w3-container w3-cell w3-left">
				  	<p>
						<b>$item.Title</b>
					</p>
					
					<p>
						$item.Description
					</p>
					
					<p>
						$item.getFormattedPrice()
					</p>
				  </div>
				</div>
		      </div>
		    </div>
		  </div>
	#end


<!-- The Modal -->
